#tadcka-sitemap-tree, #tadcka-sitemap-content {
    border: 1px solid #DDDDDD;
    min-height: 300px;
    max-height: 600px;
    padding: 10px;
    overflow: auto;
}

#tadcka-sitemap-content .tadcka-sitemap-toolbar {
    margin-bottom: 10px;
}

#tadcka-sitemap-content .tab-content {
    padding-top: 10px;
}